// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #0B5ED7;
  --ion-color-primary-rgb: 11,94,215;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0A53BE;
  --ion-color-primary-tint: #2A73DE;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: #ffffff;
}

ion-title {
  font-weight: 800;
  letter-spacing: 0.2px;
}

ion-button {
  --color: #ffffff;
}